# Printer: Ender 3 Pro
# Board: SKR 1.4 Pro
# Hotend: Trianglelabs v6
# Extruder: Trianglelabs Titan
# Bed: Kis3d Silicon Mat

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 40
endstop_pin: P1.29
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2208 stepper_x]
uart_pin: P1.10
run_current: 0.760
stealthchop_threshold: 999999

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 40
endstop_pin: P1.28
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2208 stepper_y]
uart_pin: P1.9
run_current: 0.760
stealthchop_threshold: 999999

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 8
endstop_pin: P1.27
position_endstop: 0.0
position_max: 220

[tmc2208 stepper_z]
uart_pin: P1.8
run_current: 0.650 #760
stealthchop_threshold: 999999

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 8
max_extrude_only_distance: 100.0
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
min_temp: 0
max_temp: 260
#min_extrude_temp: 170
min_extrude_temp: 0
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114

[tmc2208 extruder]
uart_pin: P1.4
run_current: 0.800 #900
stealthchop_threshold: 999999

[heater_fan extruder_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0

[fan]
pin: P2.3

[heater_bed]
heater_pin: P2.5
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: P0.25
control: pid
pid_Kp: 130.25
pid_Ki: 24.37
pid_Kd: 464.16
min_temp: 0
max_temp: 110

[display]
lcd_type: st7920
cs_pin: P1.19
sclk_pin: P1.21
sid_pin: P1.23
encoder_pins: ^P1.18, ^P1.20
click_pin: !P0.28
menu_reverse_navigation: true

[output_pin beeper]
pin: P1.30
value: 0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_1A80000EA39869AF0E5A405EC22000F5-if00

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 16
max_z_accel: 100

[bed_screws]
screw1: 30, 33
screw1_name: Front Left
screw2: 200, 33
screw2_name: Front Right
screw3: 200, 203
screw3_name: Back Right
screw4: 30, 203
screw4_name: Back Left
